<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <form action="http://localhost:8080/home" method="post">
        <h1>Create new chat</h1>
        <input type="text" placeholder="sender" name="from"> <br><br>
        <input type="text" placeholder="message" name="message"> <br><br>
        <input type="text" placeholder="receiver" name="to"><br><br>
        <button>submit</button>
    </form>
</body>
</html>